@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins';
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #121212;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.dropdown-wrapper{
    width: 100%;
    max-width: 400px;
    background-color: #343434;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.dropdown-wrapper .dropdown-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-body{
    width: 100%;
    max-height: 0px;
    overflow: scroll;
    transition: all 0.5s ease;
    padding: 0px 20px;
}

.value-text{
    margin: 5px 0px;
    padding: 15px 20px;
    transition: all 0.5s ease;
    cursor: pointer;
    /* border-top: 1px solid rgba(224, 255, 255, 0.208); */
}

.value-text:hover{
    background-color: #121212;
    border-radius: 10px;
}

.dropdown-body::-webkit-scrollbar{
    background-color: #353535;
    width: 5px;
}

.dropdown-body::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 10px;
}

.dropdown-body::-webkit-scrollbar-corner{
    background-color: #353535;
}

