* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #343434;
}

.home-page {
    /* margin-top: 10px; */
    width: 100%;
    height: 100%;
    background-color: #242424;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page form {
    max-width: 100%;
    width: 400px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
}

.home-page .form-title .title {
    text-align: center;
    padding: 20px 10px;
}

.home-page form .input-field,
.home-page form .submit-btn {
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #242424; */
}

.home-page form .input-field label {
    position: absolute;
    top: 15px;
    left: 20px;
    background-color: #fff;
    color: #343434;
    padding: 5px;
    transition: 0.3s ease;
}

.home-page form .input-field input {
    padding: 10px;
    flex: 1 1 auto;
    outline: none;
}

/* label goes up */
.input-field input:focus+label,
.input-field input:not(:placeholder-shown)+label {
    top: -1px;
    font-size: 14px;
}

.home-page form .submit-btn button {
    flex: 1 1 auto;
    padding: 10px;
}

.status-msg {
    font-size: 13px;
    margin-top: -5px;
    margin-bottom: 10px;
    color: red;
}

.status-msg.valid {
    color: green;
}


.about-page {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    background-color: #212121;
    padding: 10px;
}