@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar{
    background-color: #212121;
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: green;
    border-radius: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #212121;
    color: #ffff;
    font-family: "Poppins";
    /* transition: all 0.5s ease; */
}

header h1{
    padding-top: 50px;
    text-align: center;
}

header #html{ color: crimson; }
header #css{ color: aqua; }
header #js{ color: yellow;}

.acordian{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.acordian-container{
    width: 100%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
}

.acordian .acordian-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.acordian .acordian-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    cursor: pointer;
}

.acordian-wrapper:nth-child(1) .acordian-head{
    border-radius: 10px 10px 0px 0px;
}

.acordian-wrapper:last-child .acordian-body{
    border-radius: 0px 0px 10px 10px;

}
.acordian .title,
.acordian .icon{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.acordian .add-icon{
    transition: all 0.5s ease;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    color: green;
}

.acordian .acordian-body{
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    background-color: #343434;
    transition: all 0.3s ease;
}

.acordian .acordian-body p{
    padding: 10px 20px;
    text-align: justify;
    transition: all 0.3s ease;
}

.acordian .acordian-body p:hover{
    background-color: #212121;
    color: yellow;
    cursor: pointer;
}